# Environment
.git

# IDE
.idea
.vscode
.jshintrc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# misc
.DS_Store
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Other
TODO.md
/ignored
test.js



